anyjson==0.3.3
argon2-cffi==19.1.0
arrow==0.13.1
asn1crypto==0.24.0
attrs==19.1.0
Babel==2.7.0
bcrypt==3.1.6
bleach==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colour==0.1.5
cryptography==2.7
cycler==0.10.0
docutils==0.14
eli5==0.8.2
Flask==1.0.3
Flask-SQLAlchemy==2.4.0
furl==2.0.0
graphviz==0.10.1
idna==2.8
infinity==1.4
intervals==0.8.1
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.0
nose==1.3.7
numpy==1.16.3
orderedmultidict==1.0
passlib==1.7.1
phonenumbers==8.10.10
pkginfo==1.5.0.1
psycopg2==2.7.6.1
pycparser==2.19
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.1
scipy==1.3.0
six==1.12.0
SQLAlchemy==1.3.4
SQLAlchemy-Utils==0.33.11
tabulate==0.8.3
tqdm==4.32.1
twine==1.13.0
typing==3.6.6
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.15.4
